@import "mixins.scss";
@import "colors.scss";

.body {
    @include body-mobile();

    h1 {
        @include styled-h1();
    }

    .description {
        max-width: 600px;
    }

    @media (min-width: 768px) {
        @include body-desktop();
        justify-items: center;
        grid-template-rows: 5rem 3rem auto;

        h1 {
            grid-column: 1 / span 2;
        }

        .description {
            grid-column: 1 / span 2;
        }
    }
}