@import "colors.scss";

.option-menu {
    width: 100%;
    max-width: 400px;
    padding: 0.7rem;
    margin-top: 1rem;

    color: $dark-purple;
    background-color: $light-blue;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;

    border: none;
    border-radius: 5px;

    option:nth-child(odd) {
        background-color: #b6d9f1;
    }
}